<?xml version="1.0" encoding="utf-8" standalone="yes"?>
<settings>
	<setting id="username" type="text" label="30001" default="" />
	<setting id="password" type="text" label="30002" option="hidden" default="" />
	<setting id="ask_adjust" type="bool" label="30010" default="false" />
	<setting id="showcurrent" type="bool" label="30022" default="true" />
	<setting id="start_with_tv" type="bool" label="30020" default="true" />
	<setting id="autorefresh_rate" type="enum" values="0|1|2|3|5|10" label="30027" default="2" />
	<setting id="always_refresh" type="bool" label="30028" default="true" />
	<setting id="separator" type="lsep" label=""/>
	<setting id="show_protected" type="bool" label="30015" default="true" />
	<setting id="protected_code" type="text" label="30026" option="hidden" default="" />
</settings>
