<?xml version="1.0" encoding="utf-8" standalone="yes"?>
<settings>
<category label="Настройки">

    <setting id="sort_v" type="enum" label="30001" values="Новое|Популярное" default="new" />
	<setting id="cnt_v" type="enum" label="30002" values="10|25|50|75|100" default="50" />
    <setting type="sep" />
  </category>
</settings>
