<window>
	<defaultcontrol>301</defaultcontrol>
	<coordinates>
		<system>1</system>
		<posx>500</posx>
		<posy>175</posy>
	</coordinates>
	<controls>
		<control type="image" id="999">
			<description>background image</description>
			<posx>-</posx>
			<posy>-</posy>
			<width>270</width>
			<height>auto</height>
			<texture border="20">ContextMenu.png</texture>
		</control>
		<control type="button">
			<description>Close Window button</description>
			<posx>200</posx>
			<posy>5</posy>
			<width>64</width>
			<height>32</height>
			<label>-</label>
			<font>-</font>
			<onclick>PreviousMenu</onclick>
			<texturefocus>CloseButton-focus.png</texturefocus>
			<texturenofocus>CloseButton.png</texturenofocus>
			<onleft>2</onleft>
			<onright>2</onright>
			<onup>2</onup>
			<ondown>2</ondown>
			<visible>system.getbool(input.enablemouse)</visible>
		</control>
		<control type="list" id="301">
      <posx>15</posx>
      <posy>30</posy>
      <width>260</width>
      <height>260</height>
      <visible>true</visible>
      <itemlayout width="260" height="40">
        <control type="label">
            <posx>5</posx>
            <posy>0</posy>
            <width>260</width>
            <height>35</height>
            <font>fontContextMenu</font>
            <aligny>center</aligny>
            <selectedcolor>green</selectedcolor>
            <align>left</align>
            <info>ListItem.Label</info>
          </control>
      </itemlayout>
      <focusedlayout width="260" height="40">
        <control type="image">
          <width>250</width>
          <height>30</height>
          <posx>0</posx>
          <posy>6</posy>
          <visible>true</visible>
          <texture>MenuItemFO.png</texture>
        </control>
        <control type="label">
          <posx>5</posx>
          <posy>0</posy>
          <width>260</width>
          <height>35</height>
          <font>fontContextMenu</font>
          <aligny>center</aligny>
          <scroll>true</scroll>
          <selectedcolor>green</selectedcolor>
          <align>left</align>
          <info>ListItem.Label</info>
        </control>
      </focusedlayout>
    </control>
	</controls>
</window>