<settings>
    <setting id="Show title" type="enum" label="30001" default="2" values="ru|en|both"/>
    <setting id="Use fast start" type="bool" label="30002" default="false"/>
    <setting id="Prefer 720p" type="enum" label="30003" default="0" values="no|yes"/>
    <setting id="Prefered language" type="enum" label="30004" default="0" values="ru|en"/>
</settings>