<?xml version="1.0" encoding="utf-8" standalone="yes"?>
<settings>
	<setting id="username" type="text" label="30001" default="" />
	<setting id="password" type="text" label="30002" option="hidden" default="" />
	<setting id="quality"  type="enum" label="30003" lvalues="30101|30102|30103|30104|30105|30106" default="0" />
	<setting id="size"     type="enum" label="30004" values="10|25|50|100|150|200|250|300" default="3" />
	<setting id="timeout"  type="enum" label="30005" values="5|10|15|20|30|45|60|100" default="2" />
</settings>
