<?xml version="1.0" encoding="utf-8" standalone="yes"?>
<settings>
	<category label="Настройки">
		<setting id="port_path" type="file" label="Местонахождение файла acestream.port" default="" />
		<setting id="login" type="text" label="Логин" default="" />
		<setting id="password" type="text" label="Пароль" option="hidden" default="" />
		<setting id="logopack" type="bool" label="Использовать внешние лого" default="false"/>
		<setting id="adult" type="bool" label="Скрывать каналы для взрослых" default="false"/>
		<setting id="fanart" type="bool" label="Скрыть фоновую картинку" default="false"/>
		<setting id="disable" type="bool" label="Скрыть фанарт" default="false"/>
		<setting id="description" type="bool" label="Скрыть описание программы" default="false"/>
	</category>
</settings>
