<settings>
    <setting id="adult" value="false" />
    <setting id="age" value="3" />
    <setting id="gender" value="0" />
    <setting id="ip_addr" value="127.0.0.1" />
    <setting id="login" value="07pov23@gmail.com" />
    <setting id="password" value="maildie" />
    <setting id="port" value="60208" />
    <setting id="skin" value="st.anger" />
</settings>
