<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<settings>
	<setting id = "download"
		type    = "bool"
		label   = "30030"
		default = "false"
	/>
	<setting
		id      = "download_path"
		type    = "folder"
		source  = "files"
		label   = "30031"
		option  = "writeable"
		default = "/tmp"
	/>
	<setting
		id      = "download_ask"
		type    = "bool"
		enable  = "eq(-2,false)"
		label   = "30032"
		default = "false"
	/>
</settings>
