<?xml version="1.0" encoding="utf-8" standalone="yes"?>
<settings>
	<category label="Основные">
		<setting id="login" type="text" label="Логин" default="" />
		<setting id="password" type="text" label="Пароль" option="hidden" default="" />
		<setting label="Пол" type="enum" id="gender" values="Мужской|Женский"/>
		<setting label="Возраст" type="enum" id="age" values="Младше 13|13-17|18-24|25-34|35-44|45-54|55-64|Старше 64"/>
    <setting label="Обложка" type="labelenum" id="skin" values="st.anger"/>
    <setting id="winmode" type="bool" label="Оконный режим плеера" default="true" />
		<!--<setting id="adult" type="bool" label="Скрывать каналы для взрослых" default="false"/>
		<setting id="ip_addr" type="text" label="IP-адрес tsengine" default="127.0.0.1" />
		<setting id="port" type="number" label="Порт tsengine (только при удаленном подключении)" default="62062" /> -->
	</category>
</settings>
